<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Xcantidad</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
	<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	
	<style>
		.navbar-inverse {
		
			    background-color: #312783;
				border-color: #312783;
		
		}
		.nav.navbar-nav.pull-right li a{
			color: #ddd;
			font-weight:bold;
		}
		
		.navbar-brand span{
			color:#ddd;
		}
		
		.mrtop32{
			    margin-top: 32px;
		}
		
		.brdr{
		    border-bottom: 2px solid;
			margin-bottom: 19px;
		}
		.textarea{
		width: 100%;
		height: 152px;
		border-color: #ddd;
		border-radius: 13px;
		}
		
		.midbox{
		margin: 30px auto;
		float: none;
		display: block;
		}
		.linehclass{
		line-height: 48px;
		}
		.margin_20{
			
			margin-top: 50px;
		
		}

		.answer-margin{

			margin-top:19px;
			font-weight: bold;
		}

		.ques-txt-block {
    background: #fce7c2;
    border: 1px solid #ececec;
    border-radius: 20px;
    width: 97%;
    float: left;
    padding: 20px 15px;
    margin: 15px 0;
}

.mar27{

	margin-top: 27px;

}
	
	
	
	</style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="summary.html"><i class="glyphicon glyphicon-dashboard" style="color:white;">&nbsp</i><span>DASHBOARD</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="summary.html">Summary</a>
                    </li>
                    <li>
                       <a href="questions.html">Questions</a>
                    </li>
                    <li>
                        <a href="Purchase.html">Purchases</a>
                    </li>
					<li>
                        <a href="#">My Products</a>
                    </li>
					<li>
                        <a href="#">Answers</a>
                    </li>
					<li>
                        <a href="#">Sales</a>
                    </li>
				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="col-sm-9 midbox">

      <div class="col-sm-12 brdr">
		<div class="col-sm-6 pull-left"><h2>Questions</h2></div>
		<div class="col-sm-6 text-right mrtop32"><span>Questions of the last 40 days</span></div>
		
	  </div>
	  

		
	<br />	
	<div class="col-sm-12">	
	  
	  <div class="col-sm-3"><img src="http://lorempixel.com/400/200/" height="50px" width="50px" /> Brand New IPhone 4</div>
	  <div class="col-sm-3 linehclass">$19.0000</div>
	  <div class="col-sm-3 linehclass">1 Available</div>
	  <div class="col-sm-3 linehclass">Ends In 13 Days</div>	  
	  
	 </div>
	<br />
	

	<div class="col-sm-12">
		
		<div class="col-sm-12 margin_20">
		
		<span class="col-sm-1 fa fa-comments-o mar27" style="font-size: 27px;" aria-hidden="true">&nbsp;</span>
		<span class="col-sm-7">
			
			<div class="ques-txt-block">
                                           Lorem ipsum dolor sit amet, consectetur adipi.
                                           <span><i class="fa fa-calendar"></i> 2016-07-15 06:12:13
	                                           <a href="javascript:void(0);" style="color: rgb(0, 0, 0); display: none;" class="pull-right reply-link" id="0">
	                                              <i class="fa fa-reply" aria-hidden="true"></i> Reply
											   </a>
										   </span> 
                                       </div>


		</span>
		<span class="col-sm-4 text-right mar27">8 Days Ago</span>
		
		</div>

		<div class="col-sm-12 answer-margin">
			
		<i class="col-sm-1">&nbsp;</i>
		<span class="col-sm-7">Lorem ipsum dolor sit amet, consectetur adipi.</span>

		</div>

		<div class="col-sm-12 margin_20">
		
		<span class="col-sm-1 fa fa-comments-o mar27" style="font-size: 27px;" aria-hidden="true">&nbsp;</span>
		<span class="col-sm-7">
			
			<div class="ques-txt-block">
                                           Lorem ipsum dolor sit amet, consectetur adipi.
                                           <span><i class="fa fa-calendar"></i> 2016-07-15 06:12:13
	                                           <a href="javascript:void(0);" style="color: rgb(0, 0, 0); display: none;" class="pull-right reply-link" id="0">
	                                              <i class="fa fa-reply" aria-hidden="true"></i> Reply
											   </a>
										   </span> 
                                       </div>


		</span>
		<span class="col-sm-4 text-right mar27">8 Days Ago</span>
		
		</div>

		<div class="col-sm-12 answer-margin">
			
		<i class="col-sm-1">&nbsp;</i>
		<span class="col-sm-7">Lorem ipsum dolor sit amet, consectetur adipi.</span>

		</div>

		<div class="col-sm-12 margin_20">
		
		<span class="col-sm-1 fa fa-comments-o mar27" style="font-size: 27px;" aria-hidden="true">&nbsp;</span>
		<span class="col-sm-7">
			
			<div class="ques-txt-block">
                                           Lorem ipsum dolor sit amet, consectetur adipi.
                                           <span><i class="fa fa-calendar"></i> 2016-07-15 06:12:13
	                                           <a href="javascript:void(0);" style="color: rgb(0, 0, 0); display: none;" class="pull-right reply-link" id="0">
	                                              <i class="fa fa-reply" aria-hidden="true"></i> Reply
											   </a>
										   </span> 
                                       </div>


		</span>
		<span class="col-sm-4 text-right mar27">8 Days Ago</span>
		
		</div>

		<div class="col-sm-12 answer-margin">
			
		<i class="col-sm-1">&nbsp;</i>
		<span class="col-sm-7">Lorem ipsum dolor sit amet, consectetur adipi.</span>

		</div>

		<div class="col-sm-12 margin_20">
		
		<span class="col-sm-1 fa fa-comments-o mar27" style="font-size: 27px;" aria-hidden="true">&nbsp;</span>
		<span class="col-sm-7">
			
			<div class="ques-txt-block">
                                           Lorem ipsum dolor sit amet, consectetur adipi.
                                           <span><i class="fa fa-calendar"></i> 2016-07-15 06:12:13
	                                           <a href="javascript:void(0);" style="color: rgb(0, 0, 0); display: none;" class="pull-right reply-link" id="0">
	                                              <i class="fa fa-reply" aria-hidden="true"></i> Reply
											   </a>
										   </span> 
                                       </div>


		</span>
		<span class="col-sm-4 text-right mar27">8 Days Ago</span>
		
		</div>

		<div class="col-sm-12 answer-margin">
			
		<i class="col-sm-1">&nbsp;</i>
		<span class="col-sm-7">Lorem ipsum dolor sit amet, consectetur adipi.</span>

		</div>
		
		
		
		
		<div class="col-sm-12 margin_20">
		
			<div class="col-sm-10">
				<textarea name="commentbox" style="width:100%; border-radius:6px; height: 90px;"></textarea>
			</div>
			
			<div class="col-sm-2">		
				<button class="btn btn-default">Ask</button>
			
			</div>
		</div>
		
		<div class="col-sm-12">
		
			<div class="col-sm-2">
			<br>
				<button class="btn btn-primary">BUY</button>
			</div>
			
		</div>
	  
	  </div>
	
	
	

	
	
    </div>
    <!-- /.container -->
<div class="clearfix"></div>
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyrights © 2016 by porcantidad.com SA. All Rights Reserved.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
